
h1 {
    color: green;
    text-align: center;
  background-color:yellow;
  font-weight:bold;
}
h2{
    color:red;
    text-align:center;
    background-color:dodgerblue;
    
body {

  text-align: center;
  background-color:green;
}
